.intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2em;
	border: 15px solid #ffc107;
	background-color: #17a2b8;

	&__text {
		width: 100%;
		margin: 0 0 1.5rem;
		text-align: center;
		line-height: 2;
	}

	&__box {
		width: 47.5%;
		padding: 1.5em 1em;
		background-color: #fff;
		border: 7px solid black;

		h2 {
			margin: 0 0 1.2em;
			font-size: 1.2rem;
		}

		p {
			margin: 0 0 1.25em;
			font-size: 0.75rem;
			line-height: 1.85;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}